
/* Move the @import statements to the top */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* Other CSS rules go below */
/* Example:
   .example-class {
       ...
   }
*/


:root{
  --orange:#EB5E28;
  --grey:#252422;
  --light-brown:#403D39;
  --light:#ccc5B9;
  --white:#FFFCF2;
  --medium:#fcbf49;
  }
  
 


 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

 }
 ::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
body {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  color: var(--orange);
  background-color: var(--light);
  position: relative;
  /* padding-bottom: 5rem !important; */
  min-height: calc(100vh-5rem);
}

nav{
  background-color: var(--white);
  display: flex;
  justify-content: space-around;

height: 10rem;


padding-top: 1rem;
}



.subscribe {
  position: relative;
  height: 140px;
  height: 92px;
    width: 311px;
  background-color: #FFF;
  border-radius: 4px;
  color: #333;
  box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
}

.subscribe:after {
  position: absolute;
  content: "";
  right: -10px;
  bottom: 18px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #1a044e;
}

.subscribe p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 28px;
}

.subscribe input {
  position: absolute;
  bottom: 30px;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  margin-left: 2rem;
  padding: 10px;
  width: 50%;
  background: transparent;
  transition: all .25s ease;
  font-size: medium;
}

.subscribe input:focus {
  outline: none;
  border-bottom: 1px solid #0d095e;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
  font-size: large;
  /* border: none; */
}

.subscribe .submit-btn {
  position: absolute;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: var(--orange);
  color:var(--white);
  padding: 12px 25px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 5px;
  right: -10px;
  bottom: -20px;
  cursor: pointer;
  transition: all .25s ease;
  box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
}

.subscribe .submit-btn:hover {
  background-color: #1d7507;
  box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
}
 #search{
  /* padding: 1rem; */
  /* align-content: center; */
  /* background-color: red; */
   }

#logo{
  height: 60%;
  width: 60%;
  border-radius: 50%;
  border: 2px solid  rgb(218, 80, 31);
  filter: drop-shadow(0 0.2rem 0.25rem rgba(233, 119, 13, 0.2));

}

.heading{
  text-align: center;
  margin: 2rem;
}





.footer {
  background: var(--orange);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  /* background: url("https://i.ibb.co/wQZVxxk/wave.png"); */
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}



/* card styling */
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 /* background-color: red; */
  /* justify-content: space-around; */
 
}
.item{
  margin: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 190px;
  height: 254px;
  /* background-color: var(--contrast); */
  border-radius: 30px;
  /* Content style */
  font-size: 30px;
  font-weight: 900;
  color: #c7c4c4;
  text-align: center;
  font-family: monospace;



  width: 190px;
  height: 254px;
  border-radius: 30px;
  /* background: #e0e0e0; */
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px var(--white);



         
             
}

/* @import './colors.css'; */

.detail {
  padding: 1rem;
  color:rgb(6, 1, 36);
}

.detail img {
  max-width: calc(45vw - 5rem);
  padding: 0.75rem;
  border: 4px solid transparent;
}

.detail .content {
  width: 45vw;
  float: right;
  margin-left: 2.5rem;
  margin-bottom: 2rem;
}

.detail .image_color {
  width: 12rem;
  height: 4.5rem;
  padding: 0.75rem;
  border: 2px solid var(--light-brown);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_color span {
  border: 2px solid var(--light-brown);
  padding: 0.75rem;
  text-transform: uppercase;
}

.detail .description::first-letter {
  text-transform: uppercase;
}

.button {
  text-decoration: none;
  color: var(--brown);
  padding: 1rem;
  border: 2px solid var(--orange);
  cursor: pointer;
}

.button:hover {
  color: var(--light);
  background-color: var(--orange);
}

@media screen and (max-width: 800px) {
  .detail img {
    max-width: calc(90vw - 5rem);
    margin-left: calc(5vw + 0.5rem);
  }

  .detail .content {
    width: calc(90vw - 5rem);
    margin-top: 3rem;
    float: left;
    margin-left: calc(5vw + 0.5rem); 
  }
}

#download_link{
  cursor: pointer;
}
.container .item:hover{
  position: relative;
  top: -4px;
  left: -4px;

  box-shadow: var(--orange) 5px 5px, rgba(212, 99, 7, 0.3) 10px 10px;
}
@media screen and (max-width: 830px) {
  footer h1 {
    display: none;
  }
  footer {
    flex-direction: column;
    gap: 0.75rem;
    text-align: center;
  }
  body {
    min-height: calc(100vh - 10rem) !important;
 
  }
}

@media screen and (max-width: 750px) {
  nav {
    /* display: inline-block; */
    width: 100%;
  }

  nav form {
    float: none;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
 
  }
  .subscribe{
    width: 14rem;
    margin-right: 3rem;
  }
}


.pagination {
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.container{
  /* background-color:;
  height: 100vh; */
}